.modal .overlay, .tab-pane .overlay, .login-box-body .overlay, .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .overlay, .tab-pane .overlay, .login-box-body .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.modal .overlay > .fa, .tab-pane .overlay > .fa, .login-box-body .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.modal-header.red{
  background-color: #f56954;
  color: #fff;
}

.modal-header.red span{
  color: #fff;
}

.box.box-red{
  border-top-color: #f56954;
}

thead.red{
  background-color: #f56954;
  color: #fff;
}

.btn-red {
  background-color: #f56954;
  border-color: #555299;
  color: #fff;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red.hover {
  background-color: #555299;
  color: #fff;
}

td span.label, h6.box-title {
  font-size: 14px !important;
}

td[colspan=5] {
  text-align: center;
}

.login-box-msg.has-error{
  color: #dd4b39;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #f56954
}

@media (min-width: 768px) {
  .btn-laporan {
    margin-top: 25px;
  }
}
